body{
    background: white url("images/bg.jpg")
}
#formcontainer{
    
    position: relative;
    width:40%;
    height: 65%;
    margin-top: 80px;
    border-left: 3px solid #06655D;
    border-top: 3px solid #06655D;
    border-right: 3px solid #06655D;
    border-bottom: 3px solid #06655D;
    color: white;
    padding-left: 10px;
    font-family: Chunky Felt;
    font-size: 23px;
   
}

#formcontainer2{
    
    position: relative;
    width:29%;
    height: 30%;
    margin-top: 80px;
    border-left: 3px solid #06655D;
    border-top: 3px solid #06655D;
    border-right: 3px solid #06655D;
    border-bottom: 3px solid #06655D;
    color: white;
    padding-left: 10px;
    font-family: Chunky Felt;
    font-size: 23px;
   
}


#ibaba1 {
    height: 40px;
    width: 100.9%;
    position: fixed;
    bottom: 0px;
    margin-left: -10;
    background-color: #06655D;
    margin-top: 20px;
}

#button0{
    margin-top: 6px;
    width: 75px;
    height: 30px;
    position:absolute;
    right: 320px;
    font-size: 13px;
    color: gray;
    background: black;
    border-color: black;
}

#button0:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#button{
    margin-top: 6px;
    width: 97px;
    height: 30px;
    position:absolute;
    right: 230px;
    font-size: 13px;
    color: gray;
    background: black;
    border-color: black;
}

#button:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#button2{
    margin-top: 7px;
    width: 150px;
    height: 30px;
    position:absolute;
    right: 105px;
    font-size: 13px;
    color: gray;
    background: black;
    border-color: black;
}

#button2:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#button3{
    margin-top: 6px;
    width: 90px;
    height: 30px;
    position:absolute;
    right: 30px;
    font-size: 13px;
    color: gray;
    background: black;
    
    border-color: black;
}

#button3:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#button4{
    width: 200px;
    height: 30px;
    position:absolute;
    right: 30px;
    font-size: 13px;
    color: WHITE;
    background: black;
    margin-top: 290px;
    border-color: black;
    background-color: transparent;
    border: none;
}

#logo{
    margin-top: 5px;
    margin-left: 200px;
    width: 290px;
    height: auto;
}
#itaas1 {
    margin-top: -8;
    height: 40px;
    width: 100.95%;
    margin-left: -10;
    background-color: black;
}

#slogan{
    width: 190px;
    position: absolute;
    margin-left: -240px;
    margin-top: 80px;
}

#itaas2 {
    height: 12.5%;
    width: 100.95%;
    margin-left: -10;
    background-color: 06655D;
    color: darken;
}

#submitbutton{
    position: relative;
    background-color: #06655D;
    width: 50%;
    right: -1%;
    margin-top: 1%;
}

#form{
    height: 30px;
    color: black;
}

#ohnoes{
    margin-left: -400px;
    color: black;
}

#form_header{
    background-color: #06655D;
    width: 102%;
    height: 35%;
    margin-left: -10px;
    text-align: center;
    font-family: Chunky Felt;
    overflow: hidden;
}

#form_header2{
    background-color: #06655D;
    width: 102%;
    height: 13%;
    margin-left: -10px;
    text-align: center;
    font-family: Chunky Felt;
    overflow: hidden;
}

#big{
    font-size: 55px;
    position: relative;
    
}

#mini{
    font-size: 20px;
    margin-top: -18px;
    position: relative;
}

#backbutton{
    width: 200px;
    height: 50px;
    float: right;
    font-family: Chunky Felt;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
}

#backbutton:hover{
    font-size: 40px;
}

#black{
    color: white;
    background-image: url(images/bg.jpg);
    border: none;
    margin-bottom: 3%;
}


