<html>
{% load staticfiles %}
<head>
    <title> Profiles Page </title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'Profiles/styles2.css'%}">

<div id="itaas1">
    
        <a href="http://127.0.0.1:8000/Profiles/item/add">
            <button id="button2"> SELL AN ITEM </button>
        </a>
    
        <a href="http://127.0.0.1:8000/homepage/">
            <button id="button3" onclick="myFunction()"> LOG-OUT </button>
        </a>
    
<script>
    function myFunction() {
        alert("Logout Successful");
    }
</script>
    
    
    </div>
    <div id="itaas2">
        <a href="http://127.0.0.1:8000/homepage/">
            <img src="/media/LOGO.PNG" id="logo">
        </a>
        <img src="/media/SLOGAN.PNG" id="slogan">

    </div>   

{% if all_users  %}    
    <div id="profpiccontainer2">
        <ul>
        {% for user in all_users %}
            <center>
            <div id="usercontainer1">
                <a href="/Profiles/{{user.id}}/">
                    <img src={{user.profpic.url}} id="profpicfront" > 
                </a>
            <p id="namefront"> {{ user.name}}</p>
            </div>
            </center>
        {% endfor %}
        </ul>
    </div>

{% else %}
    
    <h3> You don't have any Users</h3>

{% endif %}
    
    <div id="ibaba1">
    </div>
</html>