<html>
    
{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'Profiles/style2.css' %}">
 

<div id="itaas1">
    
        <a href="http://127.0.0.1:8000/Profiles/item/add">
            <button id="button0"> SELL </button>
        </a>
    
        <a href="http://127.0.0.1:8000/Profiles/">
            <button id="button"> PROFILES </button>
        </a>
    
        <a href="http://127.0.0.1:8000/Profiles/">
            <button id="button2"> LOGIN </button>
        </a>
    
        <a href="http://127.0.0.1:8000/Profiles/register">
            <button id="button3"> REGISTER </button>
        </a>
    

    </div>
    <div id="itaas2">
        <a href="http://127.0.0.1:8000/homepage/">
            <img src="/media/LOGO.PNG" id="logo">
        </a>
        <img src="/media/SLOGAN.PNG" id="slogan">
        

    </div> 
<img src="/media/DP.PNG" id="dpcircle">
<img src="{{ item.itempic.url }}" id="profpic">
<div id="namecontainer">
    <div id="name"> {{ item.itemname }} </div>
    <div id="line1"></div>
</div>
    
<div id="detailscont">
        
    Quantity: {{ item.quantity }} <br>
    Condition: {{ item.condition }} <br>
    Type: {{ item.itemtype }} <br>
    Tags: {{ item.itemtag }} <br>
    <a href="http://127.0.0.1:8000/Profiles/{{user.id}}/" id="white">
        Seller: {{ item.seller }}
    </a>


    </div>
    
    
</ul>

<div id="ibaba1">
    <a href="http://127.0.0.1:8000/Profiles">
        <button id="backbutton"> B A C K </button>
    </a>
    </div>



</html>