<html>
{% load staticfiles %}
<head>
    <title>Log in to NBMP</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'Profiles/c.css' %}">



<div id="itaas1">
        
    
    
    </div>
    <div id="itaas2">
        <a href="http://127.0.0.1:8000/homepage/">
            <img src="/media/LOGO.PNG" id="logo">
        </a>
        <img src="/media/SLOGAN.PNG" id="slogan">
        
        <form>
        
       
        </form>

    </div>   
    <center>
    <div id="formcontainer2">
        <div id="form_header">
            <div id="big"> Log In</div>
            <div id="mini"> </div>
        </div>
        <br>
        Username: <input type="text" name="search" placeholder="Username" id="black"></br>
            
                                <a href = "http://127.0.0.1:8000/Profiles/password">
                                <button type="submit" class="btn btn-success" ) id="submitbutton">Submit</button>
                                </a>
                                </center>
    <div id="ibaba1">
    </div>
</html>

