<html>
{% load staticfiles %}
<head>
    <title> Register to NBMP! </title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'Profiles/formsstyle.css' %}">



<div id="itaas1">
  
    
<script>
    function myFunction() {
        alert("REGISTRATION SUCCESFUL!");
    }
</script>
    
    </div>
    <div id="itaas2">
    
        <a href="http://127.0.0.1:8000/homepage/">
            <img src="/media/LOGO.PNG" id="logo">
        </a>

        <img src="/media/SLOGAN.PNG" id="slogan">
        
        <form>
        
       
        </form>

    </div>   
    <center>
    <div id="formcontainer">
        <div id="form_header2">
            <div id="big"> Register</div>
        </div>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
    
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'Profiles/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href = "http://127.0.0.1:8000/Profiles/">
                                <button type="submit" class="btn btn-success" onclick="myFunction()" id="submitbutton">Submit</button>
                                </a>
                                </center>
    <div id="ibaba1">
    </div>
</html>